---

apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: prometheus-swift-bucket-exporter
spec:
  replicas: 1
  revisionHistoryLimit: 3
  template:
    metadata:
      labels:
        app: prometheus-swift-bucket-exporter
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "80"
    spec:
      nodeSelector:
        role: worker
      containers:
      - name: prometheus-swift-bucket-exporter
        image: docker-hub.2gis.ru/2gis-io/prometheus-swift-bucket-exporter:{{ image_version }}
        ports:
        - containerPort: 80
          protocol: TCP
        resources:
          limits:
            cpu: 300m
            memory: 256Mi
          requests:
            cpu: 100m
            memory: 128Mi
        env:
        - name: ENV_SWIFT_PASSWORD
          valueFrom:
            secretKeyRef:
              name: prometheus-swift-bucket-exporter-secret 
              key: swift_password
        - name: ENV_SWIFT_USER
          value: "io_registry:swift"
        - name: ENV_SWIFT_URL
          value: "http://rgw.n3.hw:80/auth/v1.0"
        - name: ENV_SWIFT_CONTAINER
          value: "Registry"
